$textSize: 16px;
$titleSize: 21px;

$textColor: #404040;
$textSecondColor: #7a7a7a;
$textTitleColor: #111;
$linkColor: #111;
$linkActiveColor: #0074bf;
$backgroundColor: #fff;
$borderColor: #ececec;
$articleTextColor: #000;
$textareaBgColor: #fff;
$commentPrimaryColor: #6190e8;
$commentBorderColor: #dfe2e5;
$popupBgColor: #fff;
$commentBtnBgColor: #fff;
$commentBtnBorderColor: #6190e8;
$commentBtnColor: #6190e8;
$commentPrimaryBtnBgColor: #6190e8;
$commentPrimaryBtnBorderColor: #6190e8;
$commentPrimaryBtnColor: #fff;
$postLinkColor: #060606;
$infoColor: #060606;
$switchBgColor: #395b64;
$imgBgColor: #eeedeb;
$captionBgColor: #f6f8fa;
$codeColor: #eb5757;
$codeBgColor: rgba(135, 131, 120, 0.15);

$textColorDark: #a0a0a0;
$textSecondColorDark: #92918e;
$textTitleDark: #d2d2d2;
$linkActiveColorDark: #0074bf;
$linkColorDark: #d2d2d2;
$backgroundColorDark: #3c3c3c;
$borderColorDark: #4b4b4b;
$textareaBgDark: #4c4c4c;
$commentPrimaryDark: #1565c0;
$commentBorderDark: #717374;
$popupBgDark: #3a3636;
$commentBtnBgDark: #4c4c4c;
$commentBtnBorderDark: transparent;
$commentBtnDark: #a0a0a0;
$commentPrimaryBtnBgDark: #4c4c4c;
$commentPrimaryBtnBorderDark: transparent;
$commentPrimaryBtnDark: #d2d2d2;
$postLinkDark: #a0a0a0;
$infoDark: #c8c8c8;
$switchBgDark: #333333;
$imgBgDark: #616364;
$captionBgDark: #1a1b26;
$codeDark: #b8a4a4;
$codeBgDark: #303536;
